@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900');
@import './variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Montserrat', 'Trebuchet MS', Arial, sans-serif;
}

body{
    background-color: $bgColor;
    @media (max-width: 420px) {
        background-color: $white;
    }
}

a{
    text-decoration: none;
}
input {
    border: none;

    &:focus{
        outline: none;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul, ol{
    list-style: none;
}

.container{
    width: $containerWidth;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 100%;
        padding: 0 20px;
    }
}